<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Job Post Detection</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h2>Fake Job Post Detection</h2>
        <form action="/predict" method="post">
            <input type="text" name="title" placeholder="Job Title" required>
            <input type="text" name="company_profile" placeholder="Company Profile" required>
            <textarea name="description" placeholder="Job Description" required></textarea>
            <input type="text" name="location" placeholder="Location" required>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
